a, button {
	font: 14px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	display: block;
	color: #333;
	margin-bottom: 10px;
}

/* The following 'important' styles are just here to show off trapFocus */
button.ngdialog-button {
	border: solid transparent 1px !important;
}

button.ngdialog-button:focus {
	border: solid black 1px !important;
}

.ngdialog h2:focus { outline: none; }