<div class="container">
<h3>Magic The Gathering Set Browser<span ng-show="wait==true" style="color:red;font-size:18;font-weight:Bold">...</span></h3>
Thanks to mtgjson.com & Jeremy Ninnes
<hr>
<div class="row">
	<div class="col-xs-4">
		Period
		<div class="rangeslider" range-slider min="0" max="220" model-min="min" model-max="max" show-values="false"></div>
	</div>
	<div class="col-xs-4" style="padding-right:15px">
		Standard Timeshifter : {{timeshiftedtoday}}
		<slider floor="0" ceiling="98" step="1" precision="0" ng-model="newtoday"></slider>
	</div>
		<div class="col-xs-1" >
		<button ng-click="minusTimeshift()"><</button>
		<button ng-click="plusTimeshift()">></button>
	</div>
	<div class="col-xs-3" >
		Search Name/Block
		<input class="form-control" ng-model="textfilter" ng-model-options="{debounce: 1000}" style="margin-top:10px;height:28px">
	</div>
</div>

<input type="checkbox" checked ng-model="cbFilters.cb_core">&nbsp&nbsp;core&nbsp&nbsp;
<input type="checkbox" checked ng-model="cbFilters.cb_expansion">&nbsp&nbsp;expansion&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_commander">&nbsp&nbsp;commander&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_conspiracy">&nbsp&nbsp;conspiracy&nbsp&nbsp;<br>
<input type="checkbox" ng-model="cbFilters.cb_promo">&nbsp&nbsp;promo&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_reprint">&nbsp&nbsp;reprint&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_box">&nbsp&nbsp;box&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_starter">&nbsp&nbsp;starter&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_vanguard">&nbsp&nbsp;vanguard&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_duel__deck">&nbsp&nbsp;dueldeck&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_from__the__vault">&nbsp&nbsp;from the vault&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_planechase">&nbsp&nbsp;planechase&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_premium__deck">&nbsp&nbsp;premium deck&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_archenemy">&nbsp&nbsp;archenemy&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_onlineonly">&nbsp&nbsp;onlineonly&nbsp&nbsp;
<input type="checkbox" ng-model="cbFilters.cb_un">&nbsp&nbsp;un
<button ng-click="toggleCheckboxes()">Toggle</button>

<br>

<table class="table">
	<tr style="background-color: #dddddd; position: relative"><td>Symbol<td>Rotater<td>Set<td>Block<td>Code<td>Type<td>Release Date<td>Standard End<td>Kicker<td>
		<tr 
			
			ng-repeat="set in setInfo | orderBy:'releaseDate' "

			class="vertical-align-middle pad3" 
			
			ng-class="{ 
				'setIsRotating': set.rotate=='R', 
				'setIsInStandard': inStandard(set) 
			}" 

			ng-show="indexFilter($index, set)"

			>

			<td style="text-align:left">
				<span class="icon-wrapper">
					<i class="mtg {{set.iconClass}}"></i>
					<span ng-show="set.noicon==true">No Icon</span>
				</span>
			</td>

			<td>{{set.rotate}}</td>
			<td>{{set.name}}</td>
			<td>{{set.block}}</td>
			<td>{{set.code}}</td>
			<td>{{set.setType}}</td>
			<td>{{set.releaseDate | limitTo: 10}}</td>
			<td>{{set.standardRotateOutDate  | limitTo: 10}}</td>
			<td>{{set.rotateOutWhenIsReleased}}</td>
			<td>{{selectorExists("." + set.iconClass)}}</td>
		</tr>

</table>
</div>
